
.cardTitle{
    font-size: 14px;
    text-wrap: wrap;
    width: 180px;
    height: 10%;
}

.cardImage {
    height: 250px;
    width: 180px;
    object-fit: cover;
}


.cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    flex: 1 1 auto;
}