.navContainer{
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.filterContainer{
    padding: 20px;
    margin: 20px;
}

.filterInput {
    background-color: gray;
    width: 170px;
    height: 35px;
    border-radius: 5px;
    display:flex;
    align-items: center;
    cursor: pointer;
}

.filterInput > input {
    background-color: gray;
    outline: 0;
    border: none;
    width: 130px;
    height: 20px;
    border-radius: 5px;
    padding: 0px 0px 0px 10px;
   
}

.dropDownMenu {
    background-color: gray;
    border-radius: 5px;
    position: absolute;
    width: 170px;
    margin-top: 7px;
}

.option {
    cursor: pointer;
    padding: 5px;
}

.filterLabel {
    padding: 5px 0px 0px 5px;
}

.tag{
    padding: 5px;
}

.tag:hover{
    background-color: darkgray;
    border-radius: 5px;
}

.dropDownArrow{
    /* position: absolute; */
    width: 14px;
    height: 14px;
    fill: white;
}

::placeholder{
    color: white;
}

