.navContainer{
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
}

.filterContainer{
    padding: 20px;
    margin: 20px;
}

.filterInput {
    background-color: gray;
    width: 170px;
    height: 35px;
    border-radius: 5px;
    outline: 0;
    border: none;
}

.genreDropDownMenu {
    background-color: gray;
    border-radius: 5px;
    position: absolute;
    width: 174px;
    margin-top: 7px;
}

.option {
    cursor: pointer;
    padding: 5px;
}

.filterLabel {
    padding: 5px 0px 0px 5px;
}

.tag{
    padding: 5px;
}

.tag:hover{
    background-color: darkgray;
    border-radius: 5px;
}

